body {
    background-color: black;
}
.bhaskara{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;

}
.formulario{
    outline: 1px solid rgb(255, 255, 255);
    padding: 20px;
    font-size: 32px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgba(66, 66, 66, 0.801);
    color: white;
}
input{
    height: 20px;
    width: 300px;
    border-radius: 5px;
}

#btnCalcular{
    background-color: gray;
    border-radius: 5px;
    box-shadow: 2px 2px 1px rgba(66, 66, 66, 0.801);
    margin-top: 15px;
    margin-bottom: 15px;
}
#btnCalcular:hover{
    font-weight: bolder;
}